<launch>

 
  <node name="recognizer" pkg="pocketsphinx" type="recognizer.py">
    <param name="lm" value="$(find mr_roblisten)/commands/mr_robot_commands.lm"/>
    <param name="dict" value="$(find mr_roblisten)/commands/mr_robot_commands.dic"/>
  </node>

  <node name="soundplay_node" pkg="sound_play" type="soundplay_node.py" output="screen"/>

  <node name="talkback" pkg="mr_roblisten" type="talkback.py" output="screen">
  	<param name="voice" value="voice_kal_diphone"/>
	<param name="wavepath" value="$(find ros_arduino_python)/sounds"/>
  </node>

 

</launch>
